* {padding: 0;
margin: 0;
border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: "Poppins-Regula", Arial;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

li {
	list-style-type: none;
	/* Убираем маркеры */
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------------------------*/
body{
	background: rgb(143,0,244);
	background: linear-gradient(0deg, rgba(143,0,244,1) 0%, rgba(0,0,0,1) 100%);	
	color:  #fff;
	height: 100%;
}


.header__title {
	font-size: 40px;
	text-align: center;
	padding:  27px 0;
}

.game__table {
	display: flex;
	justify-content: center;
	max-width: 920px;
	flex-wrap: wrap;
	margin: 0 auto;
}

.game__card {
	width: 200px;
	height: 200px;
	border-radius: 7px;
	justify-content: center;
	align-items: center;
	margin: 15px;
	box-shadow: 0px 0px 10px 3px #fff;
	transition: all .5s;
	perspective: 1000px;
}
.game__card.flip {
  transform: rotateY(180deg);
}

.game__card.open{
	box-shadow: 0px 0px 10px 3px rgba(100, 255, 21, 0.9);
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.605);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear, visibility 1s linear;
}
 

.modal {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 transition: opacity 1s linear, visibility 1s linear;
 visibility: hidden;
 opacity: 0;
 position: relative;
 width: 500px;
 height: 300px;
 max-height: 90%;
 max-width: 90%;
 min-height: 380px;
 margin: 0 auto;
 background:  rgba(0, 0, 0, 0.379);
 box-shadow: 0px 0px 20px 5px rgba(251, 253, 249, 0.9);
 top: 50%;
 transform: translateY(-50%);
 padding: 30px 10px;
 border-radius: 50px;
}  

.show {
  opacity: 1;
  visibility: visible;
}

.win {
  font-size: 80px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 0 black;
}

.restart {
  margin: 30px auto;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: #fff;
  
  border-radius: 5px;
  color: rgb(102,68,164);
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
  transition: all 0.3s;
}

.restart:hover {
  box-shadow: 0px 0px 5px 2px rgb(228, 227, 230);
  background: rgb(131, 72, 241);
  color: #fff;
}


.message {
  text-align: center;
}

@media (max-width: 480px) {
 .win {
    font-size: 60px;
  }
}

@media (max-width: 920px) {
 .game__card {
	width: 160px;
	height: 160px;
 }
}

@media (max-width: 580px) {
 .game__card {
	width: 110px;
	height: 110px;
	margin: 10px;
 }
 .header__title {
	font-size: 32px;
	padding:  27px 0;
 }
}

@media (max-width: 420px) {
 .game__card {
	width: 100px;
	height: 100px;
 }
}

